
.DestinySearchContainer input{

    width: 100%;
    height: 6vh;
    border: none;

}
.searchImput {

    display: flex;
    background-color: var(--letter-white);
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.8);
}
.DestinySearchContainer input:focus{

    outline: none;

}



.DestinySearchContainer div:first-child button:first-child{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    padding: 0 0.5rem;
    font-size: 0;
   
}

.DestinySearchContainer div:first-child button:first-child{

    outline: none;
}




.searchButton{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
    background-color: var(--bg-dark-gold);

}

.searchButton button{

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    padding: 0.2rem 0;
    
    width: 80%;
    color: var(--letter-dark-blue);
    border: 2px solid var(--letter-dark-blue);
}


.DestinySearchContainer {

    height: 100vh;
    background-color: var(--bg-light-gold);
    
}