.stageDescription {

    display: flex;
    align-items: center;
}
.stageDescription > div:first-child{

    padding-left: 0.8rem;
}
.stageDescription > div:first-child img{

    width: 2.4rem;
}

.stageDescription > div:last-child{

    padding-left: 0.8rem;
}

.stageDescription > div:last-child strong{

    color: var(--letter-dark-blue);
    font-size: 1rem;
}

.stageDescription > div:last-child p{

    color: var(--letter-light-blue);
    font-size: 0.8rem;
    padding-top: 0.1rem;
    margin-bottom: 0.4rem;
}