.locationSugestionContainer{
    display: flex;
    background-color: transparent;
    border-bottom: 1px solid var(--letter-dark-blue);
    margin-top: 1rem;
    

}

.distanceDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: var(--letter-dark-blue);
}

.distanceDisplay p{

    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.distanceDisplay img{

    width: 1.5rem;
    
}
.distanceDisplay div:last-child{

    text-align: center;
    font-size: 0.8rem;
}

.descritionDisplay {

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descritionDisplay strong{

    font-size: 1rem;
    color: var(--letter-dark-blue);
}

.descritionDisplay p{

    font-size: 0.8rem;
    color: var(--letter-light-blue);
}

.locatioAceptIcon{

    display: flex;
    justify-content: center;
    align-items: center;
}