
.routeContainer{

    border-bottom: 1px solid gray;
    
    margin-bottom: 0.8rem;
    padding: 0 1rem;
}

.routeContainer img {

    width: 1.5rem;
    
}
.routeContainer div:first-child{

    font-size: 0.9rem;
    color:var(--letter-dark-blue)
}

.routeContainer div:first-child span{

    font-size: 0.8rem;
    color:var(--letter-dark-blue);
    margin-left: 1rem;
}

.busSequence {

    display: flex;
    align-items: center;
    background-color: var(--pure-gold);
    padding: 0.5rem 0.2rem;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 0.5rem 0;
    
}