.stageContainer {

    background-color: var(--letter-white);
    border-radius: 5px;
    border: 1px solid var(--letter-dark-blue);
    background-color: transparent;
    margin: 1.6rem auto;
    padding: 0 0.6rem;
}

.stageContainer li{

   
    background-color: var(--bg-light-gold);
    margin-left: 0;
    padding: 0 0.3rem;
    font-size: 1.2rem;
}

.moreOptions{
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    text-align: right;
    padding: 0 1rem;
    color: var(--letter-light-blue);
    font-size: 0.875rem;
}

.stageContainer hr{

    border: 0.2px solid var(--letter-light-blue);
}